@import 'activeadmin_addons/all';
// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// app/assets/stylesheets/active_admin/mixins/_variables.scss in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "font-awesome";
// @import "active_admin_sidebar";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//


/* Make header sticky */
  
  
body {
  background-color: #F7F7F7;
  font-family: Arial, sans-serif;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  // color: #248f8f; //#008080;
  color: #FFFFFFFF;
}

a {
  color: #008080;
  text-decoration: none;
}

a:hover {
  color: #87CEEB;
}

table {
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

button {
  background-color: #4CAF50; /* green */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41; /* darker green */
}

button.flat {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button.flat:hover {
  background-color: #f7f7f7;
  border-color: #ccc;
}



#header ul.tabs > li.current > a {
    background: rgba(232, 227, 227, 0.1);
    font-weight: bold;
    color: #000000;
    text-underline-offset: 3px;
    text-decoration: underline; 

}

#header ul.tabs > li a {
  color: #000000;
  font-size: 18px;
  text-underline-offset: 3px;
  padding: auto;  
}

 
.cancel-button {
    margin-left: 10px; /* Add some spacing from the submit button */
}

.square-div {
    width: 150px; 
    height: 150px; 
    // background-color: teal;
    background-color: goldenrod;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column; /* Change to column for vertical alignment */
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.square-div h1 h2 {
  color: white;
}
.text-center panel{
  text-align: center;
  display:inline-block;    
}
  
.panel_contents{
  text-align:center;
  width: 100%;
}


.table_tools .scopes li.scope.selected a, li.scope a:hover {
  color: #8f2424; 
}

.table {
  box-shadow: 0px 5px 10px #8f2424; 
}

section > h3, .panel > h3 {
  text-shadow: #fff 0 1px 0;
  background-color: rgb(200, 193, 193);
  border-right-color: #8f2424; 
  border-bottom-color: #8f2424; 
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #000000;
  padding: 5px 10px 3px 10p
}

